@model Classroom_Task_11._11._22.Entity.User
<table border:"1px">
    <thead>
        <tr>
            <th>UserName</th> 
            <th>PhoneNumber</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <tr>
                <td>@Model.UserName</td>
                <td>@Model.Email</td>
                <td>@Model.PhoneNumber</td>
            </tr>
        </tr>
    </tbody>
    
</table>
<style>
    table, th, td {
        border: 1px solid black;
    }
    table{
        width:100%;
        
    }
    th{
        
    }
</style>

